* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}

.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img-container{
    width: 50%;
    position: absolute;
    justify-content: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    width: 1600px;
    margin: auto;
}
.subcontainer{
    width: 85%;
    margin: auto;
}

/* navigation menu*/

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 101;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link {
    text-decoration: none;
    color: grey;
    position: relative;
    padding: 0 0 5px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

/* sign in and get started button*/

.sign-in{
    text-decoration: none;
    color: grey;
    position: relative;
    padding: 0 0 5px;
}

.sign-in::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.sign-in:hover::after{
    transform: scaleX(1);
}

.sign-in, .get-started {
    display: block;
    padding: 10px 20px;
    text-align: center;
}
.get-started {
    background-color: #DDBEA9;
    color: white;
    border-radius: 30px;
}

.get-started:hover {
    background-color: #b89d8b;
}


.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #995858;
}
.nav-item{
    color: grey;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 11;

}

/* Styling for the picture viewer*/

#home {
    margin-top: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
}

.product-image {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: auto;
    margin-top: 50px;
}

/* Styling of the image-viewer buttons*/
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.scroll-button.left {
    left: 20px;
}

.scroll-button.right {
    right: 20px;
}

.scroll-button:hover {
    background-color: darkorange;
}

/* The styling under the picture viewer for the divided part*/

#divided-part{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.content-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.left-section, .right-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.right-section {
    width: 50%;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-text-item {
    display: flex;
    align-items: center;
}

.right-image {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

#title{
    margin-bottom: 10px;
}





/* The left side menu styling */

.lmenu {
    list-style: none;
    padding: 10px;
}

.lmenu li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.lmenu li:hover {
    color: #007BFF;
}

.lmenu li::before {
    content: "+";
    position: absolute;
    left: 0;
    color: #28a745;
    font-weight: bold;
}

.search{
    color: grey;
}



@media(max-width:1600px) {
    .container{
        width: 100%;
    }
}

/* The page in mobile view*/

@media(max-width:1024px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }.hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }.hamburger.active .bar:nth-child(3){
                  transform: translateY(-8px) rotate(-45deg);
    }
     .nav-menu{
         position: fixed;
         left: -100%;
         top: 70px;
         gap: 0;
         flex-direction: column;
         background-color: #f4f4f4;
         width: 100%;
         text-align: center;
         transition: 0.3s;
     }

     .nav-item{
         margin: 16px 0;
     }
     .nav-menu.active{
         left: 0;
     }
    .nav-buttons {
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }

    .sign-in, .get-started {
        margin-top: 10px;
        padding: 10px 20px;
        width: auto;
        text-align: center;
    }

}


#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
}

.product-image {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}



@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
}

/* footer */

footer {
    background-color: #394553;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section.left h2 {
    font-size: 24px;
    text-align: left;
}

.footer-section.middle ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-section.middle ul li {
    font-size: 14px;
    margin-bottom: 5px;

}

.footer-section.right ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-section.right ul li {
    margin-left: 10px;
    font-size: 16px;
}

.social-links li {
    display: inline;
    margin-left: 10px;
}


.footer-line {
    border: none;
    border-top: 1px solid white;
    margin: 20px 0;
    width: 85%;
    margin: 20px auto;
}

/* Footer bottom with address and copyright */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 10px 0;
    font-size: 14px;
}

.footer-bottom .address {
    text-align: left;
}

.footer-bottom .copyright {
    text-align: right;
}


